<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.media.vangogh">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application>
        <activity android:name="com.vangogh.media.ui.activity.VideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Full" />

        <activity
            android:name="com.vangogh.media.ui.activity.AvatarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VanGogh.Theme.Activity" />
        <activity
            android:name="com.vangogh.media.ui.activity.SelectMediaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VanGogh.Theme.Activity" />
        <activity
            android:name="com.vangogh.media.ui.activity.MediaGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Album.Theme.Activity" />
       <provider
            android:name="com.vangogh.media.utils.VanGoghProvider"
            android:authorities="${applicationId}.vangogh.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>